:root {
  --primary-color: #e62727;
  --secondary-color: #1e93ab;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.login {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.login:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.register {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.register:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.logout {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
}

.cart-container {
  position: relative;
}
.cart-container p {
  position: absolute;
  background-color: darkblue;
  padding: 2px 5px;
  border-radius: 50%;
  color: #fff;
  right: -15px;
  top: -1px;
  font-size: 12px;
}
.cart-container i {
  font-size: 30px;
}
.avatar {
  background-color: #ffffff;
  font-size: 30px;
  color: var(--secondary-color);
}

.navbar {
  height: 100px;
}
.hero {
  background-image: url(./images/hero.avif);
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}

.hero-container {
  z-index: 2;
  max-width: 1400px;
  margin: auto;
}
.hero-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  height: 90vh;
}
.hero-text {
  color: #ffffff;
  text-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-text button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px 30px;
  width: 50%;
  border: #000;
}

.hero-title {
  font-size: 3.5rem;
}

.arrows {
  position: absolute;
  top: 10%;
  width: 100vw;
}
.prev,
.next {
  border: 0;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 15px 25px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
/* ===============================product============================= */

.product-container {
  margin-top: 100px !important;
  max-width: 1400px;

  aside {
    position: sticky;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 50px;
    top: 20px;
  }
}

.img-btns {
  overflow: hidden;
}

.product-head h2 {
  color: var(--secondary-color);
  font-size: 60px;
  margin-bottom: 30px;
}
.card-button {
  position: absolute;
  bottom: -100px;
  opacity: 0;
  transition: 0.2s;
  background-color: #fff;
  padding: 3px 0px 3px;
  border-radius: 10px 0 0 10px;
}

.eye {
  padding: 5px 10px;
  font-size: 20px;
  border: 2px solid #fff;
  transition: 0.5s;
}

.eye:hover {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-radius: 10px 0 0 10px;
}

.bi-bag-plus {
  font-size: 20px;
  color: #ffffff;
  background-color: var(--primary-color);
  transition: 0.5s;
  padding: 8px 12px;
}

.bi-bag-plus:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000;
}

.img-btns:hover .card-button {
  bottom: 10px;
  opacity: 1;
}

.card {
  /* box-shadow: 1px 1px 5px 1px rgb(0, 0, 0); */
  border: 0;
}
.product-cards {
  margin-left: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

/* category */
.category {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  max-width: 1000px;
}
.category h2 {
  margin-bottom: 50px !important;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  width: 300px;
}

.category img {
  width: 100%;
}
.subCat {
  position: relative;
}
.subCat h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}
.subcatBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.pagination-btn,
.next-btn,
.prev-btn {
  padding: 10px 15px;
  border: 2px solid var(--secondary-color);
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}
.pagination-btn:hover,
.next-btn:hover,
.prev-btn:hover {
  padding: 10px 15px;
  border: 2px solid #fff;
  background-color: var(--secondary-color);
  color: #fff;
}
.next-btn {
  margin-left: 10px;
}

.prev-btn {
  margin-right: 10px;
}

.clear-filter {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
}

.clear-filter:hover {
  background-color: #fff;
  border: 1px solid var(--primary-color);
}
.product-content label {
  color: #535353;
}
.footer-logo img {
  font-size: 500px;
}

.list-footer {
  background-color: #1e93ab;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 30px;
  height: 60px;
}
