:root {
  --primary-color: #e62727;
  --secondary-color: #1e93ab;
}
img {
  width: 100%;
  height: auto;
}
.checkout h1 {
  margin: 50px 0;
}

.product-cart {
  font-size: 20px;
  color: #ffffff;
  background-color: var(--primary-color);
  transition: 0.5s;
  padding: 8px 12px;
  width: 100%;
  margin-top: 30px;
  border: var(--primary-color);
}
.product-cart:hover {
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.card-button {
  position: absolute;
  bottom: -100px;
  opacity: 0;
  transition: 0.5s;
  background-color: #fff;
  padding: 3px 0px 3px;
  border-radius: 10px 0 0 10px;
}
.cart-container {
  position: relative;
}
.cart-container p {
  position: absolute;
  background-color: darkblue;
  padding: 2px 5px;
  border-radius: 50%;
  color: #fff;
  right: -15px;
  top: -1px;
  font-size: 12px;
}
.cart-container i {
  font-size: 30px;
}
.avatar {
  background-color: #ffffff;
  font-size: 30px;
  color: #addfdc;
}
/* ================= */
.cart-button button {
  height: 30px;
  border: 0;
  color: #fff;
  padding: 2px 8px;
  background-color: var(--secondary-color);
}
.col-5 {
  margin-top: 50px;
  border-top: 5px solid #ccc;
  padding-top: 30px;
}
h6 {
  color: var(--secondary-color);
  text-shadow: 0px 1px 1px #000000;
}
.remove {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px;
  border: var(--primary-color);
}
