<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="mt-5">
      <div class="container m-auto row justify-content-between">
        <a class="footer-logo col-2"><img src="../images/logo.svg" alt="" /></a>
        <p class="col-6">
          Explore the world with ease and excitement through our all-in-one bus
          travel platform. Your journey begins here — where smooth planning
          meets unforgettable road experiences.
        </p>
        <ul class="d-flex justify-content-center gap-5 col-2">
          <li class="list-group text-white list-footer">
            <i class="bi bi-facebook"></i>
          </li>
          <li class="list-group text-white list-footer">
            <i class="bi bi-twitter-x"></i>
          </li>
          <li class="list-group text-white list-footer">
            <i class="bi bi-linkedin"></i>
          </li>
        </ul>
      </div>
      <p class="text-center mt-5">
        Copyright © 2025 Code Prashtt. All rights reserved. Distributed by
        ThemeWagon
      </p>
    </footer>
  </body>
</html>
