:root {
  --primary-color: #e62727;
  --secondary-color: #1e93ab;
}
.print-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: var(--primary-color);
  padding: 12px 30px;
  border-radius: 15px;
}
