.hero {
  position: relative;
  width: 100%;
  height: 250px !important;
  background: url(../images/111.jpg) center/cover no-repeat !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 40px;
}
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px !important;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 40px;
}
.hero-text {
  z-index: 2;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.more-span {
  border-bottom: 3px solid #000000;
}
.imgs-conatiner img {
  width: 100%;
  height: auto;
}

.product-cart {
  font-size: 20px;
  color: #ffffff;
  background-color: #000;
  transition: 0.5s;
  padding: 8px 12px;
}
.product-cart:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000;
}

.product {
  margin-bottom: 100px;
}
#product-details {
  margin-top: 100px;
  margin-bottom: 100px;
}
#product-details h1 {
  margin-bottom: 30px;
}

#product-details span {
  font-weight: 800;
}
